@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=latin-ext");

html {
  box-sizing: border-box;
  background: $blue;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background: $blue;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  justify-content: center;
  min-height: 100vh;
  padding: 16px;
}

.main {
  max-width: 375px;
  width: 100%;
}

.switch-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;
}

.switch__checkbox {
  height: 0;
  opacity: 0;
  width: 0;
}

.switch__info {
  color: #fff;
  margin-right: 10px;
}

.switch__label {
  display: inline-block;
  height: 36px;
  position: relative;
  width: 68px;
}

.switch__slider {
  background-color: #ccc;
  border-radius: 4px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.switch__slider:before {
  position: absolute;
  font-size: 14px;
  content: "ON";
  height: 28px;
  width: 28px;
  left: 7px;
  bottom: 4px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 4px;
  padding: 7px 1px 0 4px;
  color: transparent;
}

.switch__slider:after {
  border-radius: 4px;
  bottom: 4px;
  content: "OFF";
  font-size: 14px;
  height: 26px;
  left: 5px;
  padding: 5px 2px 0 3px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

.switch__checkbox:checked + .switch__slider {
  background-color: #2196f3;
}

.switch__checkbox:focus + .switch__slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch__checkbox:checked + .switch__slider:before {
  color: #000;
  transform: translateX(26px);
}

.switch__checkbox:checked + .switch__slider:after {
  color: transparent;
  transform: translateX(-30px);
}

.waterglass {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.waterglass__button--add {
  background: #ffff;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  height: 48px;
  margin-bottom: 37px;
  padding: 12px;
  min-width: 216px;
}

.waterglass__button--remove {
  background: transparent;
  border: none;
  border-radius: 5px;
  color: #f5e5e7;
  font-size: 14px;
  height: 24px;
  min-width: 184px;
}

.waterglass__counter {
  font-size: 112px;
  position: absolute;
  top: 114px;
  z-index: 1;
}

.waterglass__image {
  margin-bottom: 48px;
}
